<mat-card class="stepperContainer">
  <div>
    <mat-vertical-stepper>
      <mat-step [stepControl]="sandOptions">
        <form [formGroup]="sandOptions">
          <ng-template matStepLabel>Select the type of sandwich you want</ng-template>
          <div>
            <mat-radio-group formControlName="selectedSandType" [(ngModel)]="selectedType" class="radioGroup" required>
              <mat-radio-button value="ham" class="radioBtn">Ham</mat-radio-button>
              <mat-radio-button value="turkey" class="radioBtn">Turkey</mat-radio-button>
              <mat-radio-button value="chicken" class="radioBtn">Chicken</mat-radio-button>
              <mat-radio-button value="veggie" class="radioBtn">Veggie</mat-radio-button>
              <mat-radio-button value="custom" class="radioBtn">Custom</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Select the toppings you want</ng-template>
        <div class="checkboxList">
          <mat-checkbox *ngFor="let topping of toppingsOptions;let i=index" [disabled]="selectedType == (toppingsOptions[i] | lowercase)"
            class="checkBox" [(ngModel)]="toppingsSelected[i]" (change)="onSandToppingsChanges()">{{ toppingsOptions[i] }}</mat-checkbox>
        </div>
        <div>
          <button mat-button matStepperPrevious color="primary">Back</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <mat-error *ngIf="sandTypeErrorExist">
          You have to pick a sandwich type.
          <br>
        </mat-error>
        <mat-error *ngIf="sandToppingErrorExist"> You have to pick at least one topping.</mat-error>
        <span *ngIf="!sandTypeErrorExist && !sandToppingErrorExist">Make sure you've picked everything you want, then hit finish!</span>
        <div>
          <button mat-button color="primary" [disabled]="sandTypeErrorExist || sandToppingErrorExist" (click)="orderSubmit()">Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</mat-card>