.stepperContainer {
    margin: 0 auto;
    width: 65%;
}

.inputWidth {
    width: 80%;
}

.radioGroup, .checkboxList {
    display: inline-flex;
    flex-direction: column;
}

.radioBtn {
    padding: 7%;
}