<mat-card class="loginCard">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-subtitle>
    Login to your account
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field class="fullField">
      <input matInput placeholder="Name" type="text" [formControl]="nameFormControl" [(ngModel)]="nameInput">
      <mat-hint align="start">
        <strong>Ensure you type firstnamelastname, like veresrobert</strong>
      </mat-hint>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="fullField">
      <input matInput placeholder="School ID" type="number" [formControl]="idFormControl" [(ngModel)]="schoolIDInput">
      <mat-hint align="start">
        <strong>Your School ID</strong>
      </mat-hint>
      <mat-error *ngIf="idFormControl.hasError('min') && !idFormControl.hasError('required')">
        Please enter a valid ID
      </mat-error>
      <mat-error *ngIf="idFormControl.hasError('required')">
        ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-card-content>

  <button mat-raised-button color="primary" type="submit" [disabled]="!nameFormControl.valid || !idFormControl.valid">Submit</button>
</mat-card>