<div class="container">
    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="errorExist">
                There was an error loading the data.
            </div>
        </div>

        <div class="mainOperationButtons">
            <button mat-raised-button color="warn" (click)="openDialog()">Delete all</button>
        </div>

        <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Submitted At</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.createdAt | date:'M/d/yy, h:mm a' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="toppings">
                <mat-header-cell *matHeaderCellDef>
                    Toppings
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.toppings }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="operations">
                <mat-header-cell *matHeaderCellDef>Operations</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button color="primary" (click)="deleteOrder(row.id)">
                        <mat-icon>done</mat-icon> Mark as done
                    </button>
                    <button mat-button color="primary" (click)="deleteOrder(row.id)">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [length]="resultsLength" [pageSize]="30">
        </mat-paginator>
    </div>
</div>