#toolbar {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    background: transparent;
}

#footer {
  bottom: 3%;
  position: absolute;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
  font-family: Courier New, Courier, monospace;
  color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.nav-collapsed {
  padding-right: 7%;
}

.main-header {
  padding-left: 2%;
}

.main-content {
  margin: 0 auto;
  padding-top: 15%;
}

.transparent {
  background: transparent;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

@media (min-width: 350px) and (max-width: 550px) {

  .main-content {
    padding-top: 25%;
  }

}

@media (max-width: 725px) {

  .nav-collpased {
    display: inline-block;
  }

  .nav-expanded {
    display: none;
  }

}

@media (max-width: 475px) {

  .ext-desc {
    display: none;
  }

}

@media (min-width: 725px) {

  .nav-collapsed {
    display: none;
  }

  .nav-expanded {
    display: inline-block;
  }

}

@media (min-width: 350px) and (max-width: 900px) {

  .main-header {
    font-size: 16px;
  }

  .navBtn {
    font-size: 12px;
  }

}