<div id="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="main-header">
        <a routerLink="">SandwichLine</a>
        <span class="ext-desc">: Making ordering food that much easier.</span>
      </span>
      <span class="spacer"></span>

      <div class="nav-expanded">
        <button mat-button routerLink="" class="navBtn">
          <a>Home</a>
        </button>
        <button mat-button routerLink="order" (click)="checkAuth()" class="navBtn">
          <a>Order</a>
        </button>
      </div>

      <div class="nav-collapsed">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item routerLink="order" (click)="checkAuth()">
            <mat-icon>input</mat-icon>
            <span>Order</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  A Providence Day School project // 2018
</div>