<div id="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="">SandwichLine:</a> Making ordering food that much easier.</span>
      <span class="spacer"></span>

      <button mat-button>About</button>
      <button mat-button>Services</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  A Providence Day School project // Robert Veres & Joe Kerrigan // 2018
</div>